html,
body {
  height: 100%;
  background-image: url('../src/assets/ticketMasterParty.jpeg');
}

ul.nav.nav-tabs {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  gap: 3rem;
}
@media (max-width: 500px) {
  ul.nav.nav-tabs {
    flex-direction: column;
    gap: 2rem;
  }
}

@media (max-width: 768px) {
  .mainContainer {
    align-items: left;
  }
}

.nav-link {
  color: white;
}
